var x = red;

var y = 1;

var pad = 1.5em;

var bl1 = { 
	font-size: 1em;
	border: var(y)px solid var.x;
};

var z = @calc(2 + var.y)px;

.rule1
{
	color: var.x;
	border-width: var.z;
	var.bl1;
	padding: var.pad;
}